<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.layar.player" >

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name="com.layar.sdk.LayarSDKActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.layar.player.geo.FilterSettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/FilterTheme" />
        <activity
            android:name="com.layar.LayerDetailsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/LayarTitleTheme" />
        <activity
            android:name="com.layar.WebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/LayarTitleTheme" />
        <activity
            android:name="com.layar.ShareSocialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/Layar.Theme.Default" />
        <activity
            android:name="com.layar.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.layar.AudioActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/SmartDialogTheme" />
        <activity
            android:name="com.layar.ScreenshotActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/FullScreenTheme" />

        <!-- Facebook's login -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.layar.ShareOnFacebookActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />

        <!-- Map v2 -->
        <activity
            android:name="com.layar.MapV2Activity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.layar.localytics.CloseSesionBroadcastReciever"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.layar.close_session" />
            </intent-filter>
        </receiver>
    </application>

</manifest>